{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}
{% block content %}
    <h2>{{ item.name }}</h2>
    Количество:
    {{ item.count | default:'Товар нет на складе'}}
    <br>
    <ul type="square">
        {% for color in colors %}
        <li style="color: {{ color.name }}"> <span style="color:black">{{ color.name }}</span></li>
        {% endfor %}
    </ul>
    <div class="test"> {{ item.description }} </div>
    <a href="{% url 'items-list' %}">Назад</a>
{% endblock %}

